input{
     &::placeholder {
          -ms-user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
      }
}

.form-control {
    &:focus {
         background-color: transparent;
         border-color: #7c1e00;
         outline: 0;
         box-shadow: none;
     }
}
